@model GGS.Domain.Game
<div class="InfoGames">
    <p class="ImageGame"><img src="@Model.ImageURL" alt="Alt text " width="300" height="200"><p>
        <h1 class="NameOfGame">
            @Model.Name<h1>
            <h1 class="DescriptionOfGame">
                @Model.ShortDesc<h1 />
            <h1 class="PriceOfGame">@Model.PriceRub</h1>
            <hr />
</div>