@{
    Layout = null;
}
@model List<Game>

@using GGS.Domain
<!DOCTYPE html>
<html lang="en">
<head>
    <style type="text/css">
        .list {
            width: 1200px;
            height: 600px;
            border: groove 2px black;
            background: green;
            margin-left: 20px;
        }

        .table tr {
            padding: 10px;
            margin-left: 120px;
            margin-top: -15px;
            color: black;
            display: inline-block;
        }

        hr {
            position: relative;
            margin-top: -10px;
        }

        .content {
            position: relative;
            margin-left: 10px;
            width: 1000px;
            height: 400px;
            overflow-y:scroll;
        }

        .change {
            position: relative;
            margin-left: 300px;
            margin-top: -405px;
            width: 200px;
            height: 400px;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="list">
        <h1>Список товаров</h1>
        
        <hr>
        <div class="content">
            @foreach (var game in Model)
            {
                Html.RenderPartial("GamesReview", game);
            }
        </div>
        <!--    <div class="change">
           <p>Изменить / УДАЛИТЬ</p>
     </div>-->
       
    </div>
</body>
</html>