
@model IEnumerable<GGS.Domain.Game>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using GGS.Domain
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <style type="text/css">


        body {
            background-image: url('../Images/bacground-image.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover; /*Бэкграунд одного размера независимо от масштаба*/
            overflow-x: hidden; /*Горизонтальный скрол */
        }

        .logo {
            position: absolute;
            left: 0%;
            top: 0%;
            width: 100%;
            height: 100%;
        }

        .search {
            position: absolute;
            left: 15%;
            top: 2%;
            width: 100%
        }

        #enter {
            position: absolute;
            top: 1%;
            left: 85%;
            color: black;
            width: 100%;
            height: 100%;
        }

        .enter_or_autentification {
            word-spacing: 15px;
            border-width: 4px;
            border-style: double;
            border-color: black;
            background-color: white;
            white-space: pre;
        }

        .menubar1, .menubar2 {
            white-space: pre;
            border-width: 4px;
            border-style: double;
            border-color: black;
            background-color: white;
        }

        .menbar {
            position: absolute;
            top: 4%;
            left: 46.5%;
            width: 100%;
            height: 100%;
        }

        .mainmenubar {
            word-spacing: 6px;
            position: absolute;
            top: 15%;
            left: 40%;
            border-width: 4px;
            border-style: double;
            border-color: black;
            background-color: black;
        }

        .mainmenubar1 {
            border-width: 4px;
            border-style: double;
            border-color: black;
            white-space: pre;
            background-color: white;
            width: 100%;
            height: 100%;
        }

        a {
            text-decoration: none;
            text-transform: uppercase;
            color: black;
        }
        /*Сверху все стили для header */
        /*Ниже для article */
        .hits_of_season {
            position: absolute;
            top: 25%;
            left: 4.5%;
            width: 100%;
        }

        .ZagolovokJanr {
            position: absolute;
            top: 68%;
            left: 6.7%;
            width: 100%;
        }

        .ZagolovokRazdel {
            position: absolute;
            top: 120%;
            left: 6.5%;
            width: 100%;
        }

        h1.hits_span {
            font-weight: 600;
            font-size: 30px;
            color: white;
            color: white;
        }

        h1.ZagolovokJanr1 {
            font-weight: 600;
            font-size: 30px;
            color: white;
        }

        h1.ZagolovokRazdel1 {
            font-weight: 600;
            font-size: 30px;
        }

        .janr { /*Таблица жанров */
            border-width: 2px;
            border-style: double;
            border-color: white;
            position: absolute;
            top: 75.8%;
            left: 5%;
        }

        .razdel { /*Таблица разделов */
            border-width: 2px;
            border-style: double;
            border-color: white;
            position: absolute;
            top: 128%;
            left: 5%;
        }

        td { /*Выравнивание таблиц */
            text-align: center;
            border-color: black;
            background-color: white;
        }

        .menubarofgame {
            position: absolute;
            top: 73%;
            left: 42.5%;
        }

        .footer {
            position: absolute;
            top: 155%;
            left: 50%;
            color: white;
        }

        .menubar1:hover {
            background-color: lightgray;
        }

        .menubar2:hover {
            background-color: lightgray;
        }

        .enter_or_autentification:hover {
            background-color: lightgray;
        }

        .mainmenubar1:hover {
            background-color: lightgray;
        }

        td:hover {
            background-color: lightgray;
        }

        .search_sumbit {
            position: absolute;
            top: 4;
            left: 7.9%;
            right: -20px;
            width: 36px;
            height: 21px;
            border: none;
            background: lightgray;
            border-radius: 0 5px 5px 0;
            cursor: pointer;
        }

            .search_sumbit:before {
                content: "\f002";
                font-family: FontAwesome;
                font-size: 16px;
                color: black;
            }

        .search_text {
            padding-left: 10px;
            border: 2px solid lightgray;
            border-radius: 5px;
            outline: none;
            background: white;
            color: black;
        }

        .MenuGames {
            border: 2px solid lightgray;
            width: 900px;
            height: 600px;
            position: absolute;
            top: 85%;
            left: 30%;
            overflow-y: scroll;
        }

        .InfoGames {
            width: 400px;
            height: 450px;
        }

        .NameOfGame {
            color: red;
            font-weight: 700;
            font-size: medium;
            position: relative;
            left: 450px;
            top: -175px;
        }

        .PriceOfGame {
            color: red;
            font-weight: 700;
            font-size: medium;
            position: relative;
            left: 450px;
            top: -170px;
        }

        .DescriptionOfGame {
            color: red;
            font-weight: 700;
            font-size: medium;
            position: relative;
            left: 450px;
            top: -165px;
        }

        .ImageGame {
            position: relative;
            left: 50px;
        }

        .dought {
            color: white;
        }

        .HelloUser {
            color: white;
        }
        .for_basket {
            border: double 4px rgba(255,229,31,0.8);
            width: 1000px;
            height: 500px;
            margin: 120px;
            margin-top:200px;
            margin-left:400px;
        }

        .button_buy {
            color: rgba(255,229,31,1);
            text-decoration: none;
            font-size: 40px;
            margin-bottom: 200px;
            margin-left: 800px;
            border: groove 4px black;
            background-color: white;
        }
    </style>
    <meta charset="UTF-8">
    <meta rel="stylesheet" href="MainPage.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MainPage</title>
    <link rel="icon" href="3Variant_3.ico">
</head>
<body>
    <header>
        <div class="logo"><a href="/Home/Main" target="_self"><img src="~/Images/Logo.jpg" alt="Logotim" width="15%" height="15%"></a></div> <!--Логотип -->

        <div id="enter">
            <form method="post" action="">
                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="dought">
                        <a class="HelloUser" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
                    </li>
                }
                else
                {
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login"> <span class="enter_or_autentification">  Вход </span></a> <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register"> <span class="enter_or_autentification"> Регистрация </span></a> <!--Вход/выход или аутентификация -->
                }

            </form>
        </div>
        <div class="search">
            <form method="post" action="">
                <p class="p1">
                    <input type="search" name="Search" placeholder="Поиск по магазину" class="search_text">  <!--Поисковая строчка -->
                    <button type="submit" value="" name="Search" class="search_sumbit"></button>
                </p>
            </form>
        </div>
        <nav>

            <form method="post" action="">
                <div class="menbar">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><span class="menubar1"> Личный кабинет  </span></a>
                    }
                </div>


            </form>

        </nav>


    </header>

    <article>


    </article>

    <div class="for_basket">
        <a href="" class="button_buy">КУПИТЬ</a>
    </div>
    <div class="footer"><footer> Team WOLFAUF</footer></div>
</body>
</html>
